<% if ticket.comments.size > 0 %>

    <div class="comments_area">
      <h2 class="comment_h2">Comments</h2>
      <% ticket.comments.each do |comment| %>
          <% if !comment.id.nil? %> <%# temporary solution look into partial form_add_comment %>
            <table class="comment fixed">
              <tr>
                <td>#<%= comment.id %></td>

                <td class="comment_body">
                  <%= h comment.body %>
                </td>

                <td>
                  <% if comment.owner_id == session[:user_id] %>
                     <%= link_to image_tag('delete-trash.png'), [comment.ticket, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
                  <% end %>
                </td>
              </tr>
            </table>
          <% end %>
      <% end %>
    </div>
<% end %>
