<div style="margin-left: 20px;">
  <%= form_for ([ticket, ticket.comments.build]) do |f| %>
    <%= f.hidden_field :owner_id, value: session[:user_id] %>
    <%= f.text_area :body, cols: 120, rows: 5 %>

    <div>
        <%= f.submit %>
    </div>
    <% end %>
</div>
