<script type="text/javascript" charset="utf-8">
    setMainHeight();

    $(document).ready(function () {
        $('.expand_button').click(function (e) {
            e.preventDefault(e);

            var cell = $(this).closest('.cell');
            cell.toggleClass('expanded');

            var isExpanded = cell.hasClass('expanded');

            if (isExpanded == true) {
                $('.cell').hide();
                cell.show();
            }
            else if (isExpanded == false)
                $('.cell').show();
        });
    });
</script>

<% content_for :thead do %>
    <thead>
    <tr>
      <th>UUID</th>
      <th>State</th>
      <th>Owner</th>
      <th>Subject</th>
      <th>Problem</th>
      <th colspan='3'>Actions</th>
    </tr>
    </thead>
<% end %>

<% @ids.each_with_index do |val, index| %>
    <div class="cell">
      <header>
        <span class="header_text"><%= @cell_headers[index] %></span>
        <span class='expand_button'><%= link_to '', '#' %></span>
      </header>

      <table>
        <%= yield :thead %>

        <tbody><%= render partial: 'tickets/table_row', collection: Ticket.states(val), as: :ticket %></tbody>
      </table>
    </div>
<% end %>
