<% unless session[:user_id] %>
  <h1>You problem has reported to the support team:</h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', controller: 'tickets' %>

<% unless session[:user_id] %>
<%= link_to 'Home', controller: 'welcome' %>
| <%= link_to 'New ticket', action: 'new', controller: 'tickets' %>
<% end %>
