<% unless session[:user_id] %>
  <h1>You problem has reported to the support team:</h1>
<% end %>

<%= render 'form' %>

<% unless session[:user_id] %>
<%= link_to 'New ticket', action: 'new', controller: 'tickets' %>
|
<% end %>

<%= link_to 'Back', controller: 'tickets' %>
