<h1>Editing ticket_state</h1>

<%= render 'form' %>

<%#= link_to 'Show', @ticket_state %> |
<%#= link_to 'Back', ticket_states_path %>
<%= link_to 'Back', controller: 'welcome', action: 'index', anchor: 'states' %>
