<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket_state.name %>
</p>

<%= link_to 'Edit', edit_ticket_state_path(@ticket_state) %> |
<%= link_to 'Back', ticket_states_path %>
