<table style="border-collapse: collapse;">
  <tr bgcolor="#faebd7" style="height: 30px;">
    <td align="right" style="font-weight: bold;">
      Name
    </td>

    <td align="left" style="padding-left: 20px;">
      <%= h @tab.name %>
    </td>
  </tr>

  <tr bgcolor="#faebd7" style="height: 30px;">
    <td align="right" style="font-weight: bold;">
      States
    </td>

    <td align="left" style="padding-left: 20px;">
      <%= @tab.states %>
    </td>
  </tr>
</table>