<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
    <th>First name</th>
    <th>Last name</th>
    <th>E-mail</th>
    <th>Role</th>
  </tr>

  <% @supports.each do |support| %>
    <% role = @roles.find_by id: support.role_id %>
    <%= render partial: 'supports/table_row', locals: {support: support, role: role} %>
  <% end %>
</table>

<% if session[:role_name] == 'admin' %>
    <%= link_to 'New Support', new_support_path %>
<% end %>
