<table style="border-collapse: collapse;">
  <tr bgcolor="#faebd7" style="height: 30px;">
    <td align="right" style="font-weight: bold;">
      Login
    </td>
    <td align="left" style="padding-left: 20px;">
      <%= raw @support.login %>
    </td>
  </tr>

  <tr bgcolor="#faebd7" style="height: 30px;">
    <td align="right" style="font-weight: bold;">
      First name
    </td>
    <td align="left" style="padding-left: 20px;">
      <%= raw @support.first_name %>
    </td>
  </tr>

  <tr bgcolor="#faebd7" style="height: 30px;">
    <td align="right" style="font-weight: bold;">
      Last name
    </td>
    <td align="left" style="padding-left: 20px;">
      <%= raw @support.last_name %>
    </td>
  </tr>

<tr bgcolor="#faebd7" style="height: 30px;">
    <td align="right" style="font-weight: bold;">
      E-mail
    </td>
    <td align="left" style="padding-left: 20px;">
      <%= raw @support.email %>
    </td>
  </tr>
</table>
