// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header_height: 250px;

.header {
  clear: both;
  overflow-y: auto;
  width: 100%;
  height: $header_height;
  background-color: #b9ad95;
}

.comments_area {
  clear: both;
  overflow-y: auto;
  width: 100%;
}

.comment {
  background-color: lightgoldenrodyellow;
}

.comment_body {
  border: 1px dotted #9f9b63;
  overflow: auto;
  padding: 3px;
  margin: 0 5px 5px 3px;
}

.comment_header {
  clear: both;
  background-color: #373737;
  color: darkorange;
  line-height: 35px;
  padding-left: 30px;
}

.comment_title {
  clear: both;
  background-color: #b9ad95;
  color: #373737;
  line-height: 20px;
  padding-right: 20px;
  text-align: right;
  font-weight: bold;
}
