// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  color: blue;
  background-color:lightgoldenrodyellow;
  margin-bottom: 5px;
}

.comment_body {
  background-color: #fffddf;
  border: 1px dotted #9f9b63;
  overflow: auto;
  padding: 1em;
}

.header1 {
  color: red;
}

.header2 {
  color: darkblue;
}

.delete_comment
{
  font-weight: bold;
  color: black;
  text-align: right;
}
