.label {
  padding-right: 3px;
}

.search {
  float: right;
  position: relative;
  right: 10px;
}

input {
   &:focus, &:hover {
    background-color: #cdc1a8;
  }

  border: 1px solid #4c2719;
  border-radius: 0px;
}

input[type="submit"] {
  color: #373737;
  padding: 0 8px;
}

input[type="text"], input[type="password"] {
  color: #373737;
  padding-left: 3px;
}

textarea {
  &:focus, &:hover {
    background-color: #cdc1a8;
  }

  border: 1px solid #4c2719;
  border-radius: 0px;
  padding: 3px;
}

select {
  border: 1px solid #4c2719;
  border-radius: 0px;
  padding: 1px;

  &:hover {
    background-color: #cdc1a8;
  }
}
