header#page_header {
  background-color: #bc471d;
  color: #fff;
  height: 68px;
  overflow: hidden;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  z-index: 1;

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color: #fef8e7;
    text-decoration: none;
  }
}

footer#page_footer {
  background-color: #807c77;
  border-bottom: 10px solid #4c2719;
  color: #fff;
  height: 30px;
  padding: 10px 10px;
  width: calc(100% - 20px);

  position: fixed;
  bottom: 0;

  ul {
    padding: 2px 0;

    li {
      border-right: 1px solid #fef8e7;
      display: inline;

      &:last-child {
        border-right: none;
      }

      a {
        &:link,
        &:hover,
        &:visited,
        &.active {
          padding: 0 10px;

          color: #fff;
        }
      }
    }
  }
}

div#contact {
  background-color: #806a2e;
  width: auto;
  margin: 0 20px;
  padding: 25px 40px;
  font-size: 1.4em;

  p {
    line-height: 175%;
    letter-spacing: 0.07em;

    font-size: 0.9em;
    color: #ddd
  }
}
