$link_color: #865140;

nav#main_nav {
  position: absolute;
  top: 45px;
  left: 300px;

  li {
    background-color: $link_color;
    display: inline-block;
    margin: 0 2px;
    padding: 6px 12px;

    a, a:link, a:visited {
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      background-color: lighten($link_color, 9%);
    }
  }
}
