<footer id="page_footer">
  <ul>
    <li>
        <%= link_to 'Contact', '/contact' %>
        <div class="search"><%= render 'layouts/search' %></div>
    </li>
    <% if !authorized? %>
      <li><%= link_to 'Send a bug', controller: 'tickets', action: 'new' %></li>
    <% end %>
  </ul>
  <ul>
    <li>&copy; 2014 OnApp. All Rights Reserved. All Wrongs Reversed.</li>
  </ul>
</footer>
