<footer id="page_footer">
  <ul>
    <li><%= link_to 'Contact', '/contact' %></li>
    <% unless session[:user_id] %>
        <li><%= link_to 'Send a bug', {controller: 'tickets', action: 'new'} %></li>
    <% end %>

  </ul>
  <p>&copy; 2014 OnApp. All Rights Reserved. All Wrongs Reversed.</p>

  <h2>
    <div class="search"><%= render 'layouts/search' %></div>
  </h2>
</footer>
