<% if flash[:notice] %>
    <div id='notice' class="notification notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div id='alert' class="notification alert">
      <%= flash[:alert] %>
    </div>
<% end %>
