<% if flash[:notice] %>
    <p class="notification notice">
      <%= flash[:notice] %>
    </p>
<% end %>

<% if flash[:alert] %>
    <p class="notification alert">
      <%= flash[:alert] %>
    </p>
<% end %>
