<header class="index_header">Contact information:</header>
<div id="contact">
    <p><b>Taras Brodovych:</b><br>
    e-mail: skydion@ukr.net<br>
    phone: +(038) 068 842 43 04 <br>
    skype: skydion</p>
</div>
